<strong>Olá, {{ user }}</strong>
<p>Sua matricula foi realizada com sucesso, confira os detalhes abaixo:</p>
<p>
  <strong>
    Início:
  </strong>{{ start }} <br/>
  <strong>
    Término:
  </strong>{{ end }} <br/>
  <strong>
    Plano:
  </strong>{{ plan }} <br/>
  <strong>
    Meses:
  </strong>{{ duration }} <br/>
  <strong>
    Valor Mensal:
  </strong>{{ permonth }} <br/>
  <strong>
    Valor total:
  </strong> {{ total }} <br/><br/>
  <small>
    Aguardamos você para treinar conosco, muito obrigado pela matrícula .
  </small>
</p>
